/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */

:root {
  /* 기본 텍스트 */
  --fontSizeBase: 16px;
  --fontColorBase: #121212;

  /* 간격 */
  --paddingHorizontal: 20px;
  --marginTopButton: 20px;
  --marginTopSwitch: 10px;

  /* 포커스 스타일 */
  --inputFocusColorBorder: #03cf5d;
  --inputFocusColorBg: #e9f0fd;
  --focusColorOutline: #24388d;

  /* 입력 서식 */
  --inputFontSize: 14px;
  --inputHeight: 45px;
  --inputBorderColor: #dadada;
  --inputBgColor: #fff;

  /* 버튼 */
  --buttonFontSize: 16px;
  --buttonHeight: 45px;
  --buttonTextColor: #fff;
  --buttonBgColor: #03cf5d;

  /* 로고 */
  --logoWidth: 230px;

  /* 체크박스 및 스위치 */
  --checkboxSize: 24px;
  --checkboxGap: 5px;
  --ipTextFontSize: 16px;
  --ipTextColor: #121212;

  /* 미디어쿼리 중단점 */
  --breakpointTablet: 768px; C:\Users\woohr\bootcamp\homework\public\favicon\likelion.svg
}

/* 폼스타일링 */
body {
  margin: 50px;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 포커스 상태 설정 */
input:focus {
  outline: none;
  box-shadow: none;
}

input:focus-visible {
  outline: 2px solid var(--inputFocusColorBorder);
  outline-offset: 2px;
  background-color: var(--inputFocusColorBg);
}

/* 포커스 스타일 추가 */
.on_off_label:focus-within {
  border: 2px solid var(--focusColorOutline);
}



/* 컴포넌트 컨테이너 */
.component_wrapper {
  width: calc(100% -40px);
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;

  > div {
    margin-block: 0.5em;
  }
}

/* 로고 컴포넌트 스타일링 */
.main_logo {
  text-align: center;
  margin: 2em;
}

/* 입력서식 컴포너트 스타일링 */
.form_input {
  label {
    visibility: hidden;
    position: absolute;
  }
  input {
    display: block;
    margin: 0;
    border: 1px solid var(--inputBorderColor);
    background-color: var(--inputBgColor);
    width: 100%;
    font-size: var(--inputFontSize);
    line-height: var(--inputHeight);
    box-sizing: border-box;
  }
}

/* 공통 버튼 스타일링 */
[type='button'],
[type='submit'],
[type='reset'] {
  font-size: var(--buttonFontSize);
  color: var(--buttonTextColor);
  height: var(--buttonHeight);
  background-color: var(--buttonBgColor);
  box-sizing: border-box;
  width: 100%;
  border: none;
}

label {
  user-select: none;
}

/* 공통 체크박스 스타일링 */
[type='checkbox'] {
  font-size: var(--fontSizeBase);
  color: var(--fontColorBase);
  appearance: none;
  opacity: 0;
}

/* 공통 체크박스 스타일링 */
label {
  display: inline-flex;
  align-items: center;
  img {
    display: flex;
    align-items: center;
    margin-right: var(--checkboxGap);
  }
  span {
    display: flex;
    align-items: center;
  }
}

/* 체크박스 클릭시 이미지 변경  */
[type='checkbox']#form_check_0:checked + img {
  content: url(../assets/login_checked.svg);
}


/* 온오프 체크박스 스타일링 */
a {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  text-decoration: none;
  color: var(--fontColorBase);
  margin-right: var(--marginTopSwitch);
}

/* 온오프 체크박스 클릭 시 텍스트 변경 */

#form_on_off_checkbox_0:not(:checked) + .on_off::before {
  content: 'OFF';
  color: var(--inputBorderColor);
}

#form_on_off_checkbox_0:checked + .on_off::before {
  content: 'ON';
  color: var(--buttonBgColor);
}

/* login form */
.naver_login_form {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
/* 입력서식 */
.login_input_wrapper {
  > div {
    margin: 0.5rem 0;
    box-sizing: border-box;
  }
}
/* 로그인 버튼 */
.login_button_wrapper {
  button {
    margin-top: 0.5rem;
  }
}

/* 에외처리 */
small {
--spacing5:0.3125rem;
--spacing20: 1.25rem;

  display: none;
  margin-top: var(--spacing-5);
  padding-inline: var(--spacing-20);
}

input:user-invalid + small {
  display: block;
  color: red;
}

/* 로그인상태유지 체크박스 */
[type='checkbox']#keep_logged_in_check:checked + img {
  content: url(../assets/login_checked.svg);
}

/* IP보안 체크박스 */
#IP_security_checkbox:not(:checked) + .on_off::before {
  content: 'OFF';
  color: var(--inputBorderColor);
}

#IP_security_checkbox:checked + .on_off::before {
  content: 'ON';
  color: var(--buttonBgColor);
}

/* option list */
ul{
  
  li:first-child{
    float: left;
  }

  li:last-child{
    float: right;
  }
}